## scraping data

In [1]:
import requests
from bs4 import BeautifulSoup

In [24]:
url = 'https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yield'
response = requests.get(url).text
soup = BeautifulSoup(response)
table = soup.find("table", attrs={"class": "t-chart"})

#printing the entire table
print(table.prettify())

<table class="t-chart" xmlns:a="http://www.w3.org/2005/Atom" xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices" xmlns:fmt="urn:treasury-xslt-fmt" xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" xmlns:msxml="urn:schemas-microsoft-com:xslt">
 <tr>
  <th scope="col">
   Date
  </th>
  <th scope="col">
   1 mo
  </th>
  <th scope="col">
   2 mo
  </th>
  <th scope="col">
   3 mo
  </th>
  <th scope="col">
   6 mo
  </th>
  <th scope="col">
   1 yr
  </th>
  <th scope="col">
   2 yr
  </th>
  <th scope="col">
   3 yr
  </th>
  <th scope="col">
   5 yr
  </th>
  <th scope="col">
   7 yr
  </th>
  <th scope="col">
   10 yr
  </th>
  <th scope="col">
   20 yr
  </th>
  <th scope="col">
   30 yr
  </th>
 </tr>
 <tr class="oddrow">
  <td class="text_view_data" scope="row">
   04/01/21
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.04
  </td>
  <td class="text_view_data">
   0.06
  </td>
  <td class="text_view_data">
   0.17
  </td>
  <td class="text_view_data">
   0.35
  </td>
  <td class="text_view_data">
   0.90
  </td>
  <td class="text_view_data">
   1.37
  </td>
  <td class="text_view_data">
   1.69
  </td>
  <td class="text_view_data">
   2.24
  </td>
  <td class="text_view_data">
   2.34
  </td>
 </tr>
 <tr class="evenrow">
  <td class="text_view_data" scope="row">
   04/02/21
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.04
  </td>
  <td class="text_view_data">
   0.07
  </td>
  <td class="text_view_data">
   0.19
  </td>
  <td class="text_view_data">
   0.39
  </td>
  <td class="text_view_data">
   0.97
  </td>
  <td class="text_view_data">
   1.42
  </td>
  <td class="text_view_data">
   1.72
  </td>
  <td class="text_view_data">
   2.27
  </td>
  <td class="text_view_data">
   2.35
  </td>
 </tr>
 <tr class="oddrow">
  <td class="text_view_data" scope="row">
   04/05/21
  </td>
  <td class="text_view_data">
   0.03
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.03
  </td>
  <td class="text_view_data">
   0.04
  </td>
  <td class="text_view_data">
   0.06
  </td>
  <td class="text_view_data">
   0.17
  </td>
  <td class="text_view_data">
   0.37
  </td>
  <td class="text_view_data">
   0.94
  </td>
  <td class="text_view_data">
   1.40
  </td>
  <td class="text_view_data">
   1.73
  </td>
  <td class="text_view_data">
   2.28
  </td>
  <td class="text_view_data">
   2.36
  </td>
 </tr>
 <tr class="evenrow">
  <td class="text_view_data" scope="row">
   04/06/21
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.04
  </td>
  <td class="text_view_data">
   0.06
  </td>
  <td class="text_view_data">
   0.16
  </td>
  <td class="text_view_data">
   0.35
  </td>
  <td class="text_view_data">
   0.88
  </td>
  <td class="text_view_data">
   1.34
  </td>
  <td class="text_view_data">
   1.67
  </td>
  <td class="text_view_data">
   2.24
  </td>
  <td class="text_view_data">
   2.32
  </td>
 </tr>
 <tr class="oddrow">
  <td class="text_view_data" scope="row">
   04/07/21
  </td>
  <td class="text_view_data">
   0.01
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.04
  </td>
  <td class="text_view_data">
   0.06
  </td>
  <td class="text_view_data">
   0.16
  </td>
  <td class="text_view_data">
   0.34
  </td>
  <td class="text_view_data">
   0.87
  </td>
  <td class="text_view_data">
   1.34
  </td>
  <td class="text_view_data">
   1.68
  </td>
  <td class="text_view_data">
   2.26
  </td>
  <td class="text_view_data">
   2.35
  </td>
 </tr>
 <tr class="evenrow">
  <td class="text_view_data" scope="row">
   04/08/21
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.01
  </td>
  <td class="text_view_data">
   0.04
  </td>
  <td class="text_view_data">
   0.05
  </td>
  <td class="text_view_data">
   0.14
  </td>
  <td class="text_view_data">
   0.33
  </td>
  <td class="text_view_data">
   0.85
  </td>
  <td class="text_view_data">
   1.30
  </td>
  <td class="text_view_data">
   1.64
  </td>
  <td class="text_view_data">
   2.22
  </td>
  <td class="text_view_data">
   2.32
  </td>
 </tr>
 <tr class="oddrow">
  <td class="text_view_data" scope="row">
   04/09/21
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.01
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.03
  </td>
  <td class="text_view_data">
   0.06
  </td>
  <td class="text_view_data">
   0.16
  </td>
  <td class="text_view_data">
   0.35
  </td>
  <td class="text_view_data">
   0.87
  </td>
  <td class="text_view_data">
   1.33
  </td>
  <td class="text_view_data">
   1.67
  </td>
  <td class="text_view_data">
   2.23
  </td>
  <td class="text_view_data">
   2.34
  </td>
 </tr>
 <tr class="evenrow">
  <td class="text_view_data" scope="row">
   04/12/21
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.04
  </td>
  <td class="text_view_data">
   0.06
  </td>
  <td class="text_view_data">
   0.18
  </td>
  <td class="text_view_data">
   0.38
  </td>
  <td class="text_view_data">
   0.89
  </td>
  <td class="text_view_data">
   1.35
  </td>
  <td class="text_view_data">
   1.69
  </td>
  <td class="text_view_data">
   2.24
  </td>
  <td class="text_view_data">
   2.34
  </td>
 </tr>
 <tr class="oddrow">
  <td class="text_view_data" scope="row">
   04/13/21
  </td>
  <td class="text_view_data">
   0.03
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.03
  </td>
  <td class="text_view_data">
   0.05
  </td>
  <td class="text_view_data">
   0.06
  </td>
  <td class="text_view_data">
   0.16
  </td>
  <td class="text_view_data">
   0.35
  </td>
  <td class="text_view_data">
   0.85
  </td>
  <td class="text_view_data">
   1.29
  </td>
  <td class="text_view_data">
   1.64
  </td>
  <td class="text_view_data">
   2.21
  </td>
  <td class="text_view_data">
   2.32
  </td>
 </tr>
 <tr class="evenrow">
  <td class="text_view_data" scope="row">
   04/14/21
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.04
  </td>
  <td class="text_view_data">
   0.06
  </td>
  <td class="text_view_data">
   0.16
  </td>
  <td class="text_view_data">
   0.35
  </td>
  <td class="text_view_data">
   0.87
  </td>
  <td class="text_view_data">
   1.31
  </td>
  <td class="text_view_data">
   1.64
  </td>
  <td class="text_view_data">
   2.22
  </td>
  <td class="text_view_data">
   2.32
  </td>
 </tr>
 <tr class="oddrow">
  <td class="text_view_data" scope="row">
   04/15/21
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.01
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.04
  </td>
  <td class="text_view_data">
   0.06
  </td>
  <td class="text_view_data">
   0.16
  </td>
  <td class="text_view_data">
   0.32
  </td>
  <td class="text_view_data">
   0.81
  </td>
  <td class="text_view_data">
   1.24
  </td>
  <td class="text_view_data">
   1.56
  </td>
  <td class="text_view_data">
   2.13
  </td>
  <td class="text_view_data">
   2.23
  </td>
 </tr>
 <tr class="evenrow">
  <td class="text_view_data" scope="row">
   04/16/21
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.04
  </td>
  <td class="text_view_data">
   0.06
  </td>
  <td class="text_view_data">
   0.16
  </td>
  <td class="text_view_data">
   0.34
  </td>
  <td class="text_view_data">
   0.84
  </td>
  <td class="text_view_data">
   1.26
  </td>
  <td class="text_view_data">
   1.59
  </td>
  <td class="text_view_data">
   2.15
  </td>
  <td class="text_view_data">
   2.26
  </td>
 </tr>
 <tr class="oddrow">
  <td class="text_view_data" scope="row">
   04/19/21
  </td>
  <td class="text_view_data">
   0.01
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.02
  </td>
  <td class="text_view_data">
   0.04
  </td>
  <td class="text_view_data">
   0.08
  </td>
  <td class="text_view_data">
   0.16
  </td>
  <td class="text_view_data">
   0.34
  </td>
  <td class="text_view_data">
   0.85
  </td>
  <td class="text_view_data">
   1.28
  </td>
  <td class="text_view_data">
   1.61
  </td>
  <td class="text_view_data">
   2.18
  </td>
  <td class="text_view_data">
   2.29
  </td>
 </tr>
</table>

### Printing every row of table

In [35]:
trs = table.findAll("tr")
trs

[<tr><th scope="col">Date</th><th scope="col">1 mo</th><th scope="col">2 mo</th><th scope="col">3 mo</th><th scope="col">6 mo</th><th scope="col">1 yr</th><th scope="col">2 yr</th><th scope="col">3 yr</th><th scope="col">5 yr</th><th scope="col">7 yr</th><th scope="col">10 yr</th><th scope="col">20 yr</th><th scope="col">30 yr</th></tr>,
 <tr class="oddrow"><td class="text_view_data" scope="row">04/01/21</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.04</td><td class="text_view_data">0.06</td><td class="text_view_data">0.17</td><td class="text_view_data">0.35</td><td class="text_view_data">0.90</td><td class="text_view_data">1.37</td><td class="text_view_data">1.69</td><td class="text_view_data">2.24</td><td class="text_view_data">2.34</td></tr>,
 <tr class="evenrow"><td class="text_view_data" scope="row">04/02/21</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.04</td><td class="text_view_data">0.07</td><td class="text_view_data">0.19</td><td class="text_view_data">0.39</td><td class="text_view_data">0.97</td><td class="text_view_data">1.42</td><td class="text_view_data">1.72</td><td class="text_view_data">2.27</td><td class="text_view_data">2.35</td></tr>,
 <tr class="oddrow"><td class="text_view_data" scope="row">04/05/21</td><td class="text_view_data">0.03</td><td class="text_view_data">0.02</td><td class="text_view_data">0.03</td><td class="text_view_data">0.04</td><td class="text_view_data">0.06</td><td class="text_view_data">0.17</td><td class="text_view_data">0.37</td><td class="text_view_data">0.94</td><td class="text_view_data">1.40</td><td class="text_view_data">1.73</td><td class="text_view_data">2.28</td><td class="text_view_data">2.36</td></tr>,
 <tr class="evenrow"><td class="text_view_data" scope="row">04/06/21</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.04</td><td class="text_view_data">0.06</td><td class="text_view_data">0.16</td><td class="text_view_data">0.35</td><td class="text_view_data">0.88</td><td class="text_view_data">1.34</td><td class="text_view_data">1.67</td><td class="text_view_data">2.24</td><td class="text_view_data">2.32</td></tr>,
 <tr class="oddrow"><td class="text_view_data" scope="row">04/07/21</td><td class="text_view_data">0.01</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.04</td><td class="text_view_data">0.06</td><td class="text_view_data">0.16</td><td class="text_view_data">0.34</td><td class="text_view_data">0.87</td><td class="text_view_data">1.34</td><td class="text_view_data">1.68</td><td class="text_view_data">2.26</td><td class="text_view_data">2.35</td></tr>,
 <tr class="evenrow"><td class="text_view_data" scope="row">04/08/21</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.01</td><td class="text_view_data">0.04</td><td class="text_view_data">0.05</td><td class="text_view_data">0.14</td><td class="text_view_data">0.33</td><td class="text_view_data">0.85</td><td class="text_view_data">1.30</td><td class="text_view_data">1.64</td><td class="text_view_data">2.22</td><td class="text_view_data">2.32</td></tr>,
 <tr class="oddrow"><td class="text_view_data" scope="row">04/09/21</td><td class="text_view_data">0.02</td><td class="text_view_data">0.01</td><td class="text_view_data">0.02</td><td class="text_view_data">0.03</td><td class="text_view_data">0.06</td><td class="text_view_data">0.16</td><td class="text_view_data">0.35</td><td class="text_view_data">0.87</td><td class="text_view_data">1.33</td><td class="text_view_data">1.67</td><td class="text_view_data">2.23</td><td class="text_view_data">2.34</td></tr>,
 <tr class="evenrow"><td class="text_view_data" scope="row">04/12/21</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.04</td><td class="text_view_data">0.06</td><td class="text_view_data">0.18</td><td class="text_view_data">0.38</td><td class="text_view_data">0.89</td><td class="text_view_data">1.35</td><td class="text_view_data">1.69</td><td class="text_view_data">2.24</td><td class="text_view_data">2.34</td></tr>,
 <tr class="oddrow"><td class="text_view_data" scope="row">04/13/21</td><td class="text_view_data">0.03</td><td class="text_view_data">0.02</td><td class="text_view_data">0.03</td><td class="text_view_data">0.05</td><td class="text_view_data">0.06</td><td class="text_view_data">0.16</td><td class="text_view_data">0.35</td><td class="text_view_data">0.85</td><td class="text_view_data">1.29</td><td class="text_view_data">1.64</td><td class="text_view_data">2.21</td><td class="text_view_data">2.32</td></tr>,
 <tr class="evenrow"><td class="text_view_data" scope="row">04/14/21</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.04</td><td class="text_view_data">0.06</td><td class="text_view_data">0.16</td><td class="text_view_data">0.35</td><td class="text_view_data">0.87</td><td class="text_view_data">1.31</td><td class="text_view_data">1.64</td><td class="text_view_data">2.22</td><td class="text_view_data">2.32</td></tr>,
 <tr class="oddrow"><td class="text_view_data" scope="row">04/15/21</td><td class="text_view_data">0.02</td><td class="text_view_data">0.01</td><td class="text_view_data">0.02</td><td class="text_view_data">0.04</td><td class="text_view_data">0.06</td><td class="text_view_data">0.16</td><td class="text_view_data">0.32</td><td class="text_view_data">0.81</td><td class="text_view_data">1.24</td><td class="text_view_data">1.56</td><td class="text_view_data">2.13</td><td class="text_view_data">2.23</td></tr>,
 <tr class="evenrow"><td class="text_view_data" scope="row">04/16/21</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.04</td><td class="text_view_data">0.06</td><td class="text_view_data">0.16</td><td class="text_view_data">0.34</td><td class="text_view_data">0.84</td><td class="text_view_data">1.26</td><td class="text_view_data">1.59</td><td class="text_view_data">2.15</td><td class="text_view_data">2.26</td></tr>,
 <tr class="oddrow"><td class="text_view_data" scope="row">04/19/21</td><td class="text_view_data">0.01</td><td class="text_view_data">0.02</td><td class="text_view_data">0.02</td><td class="text_view_data">0.04</td><td class="text_view_data">0.08</td><td class="text_view_data">0.16</td><td class="text_view_data">0.34</td><td class="text_view_data">0.85</td><td class="text_view_data">1.28</td><td class="text_view_data">1.61</td><td class="text_view_data">2.18</td><td class="text_view_data">2.29</td></tr>]

### Getting the names of the columns in table

In [46]:
col_names = table.findAll("th")
column_name = [names.text for names in col_names]
print(column_name)

['Date', '1 mo', '2 mo', '3 mo', '6 mo', '1 yr', '2 yr', '3 yr', '5 yr', '7 yr', '10 yr', '20 yr', '30 yr']

### Printing data on the table, excluding the column names

In [41]:
lst = []
for item in trs:
    td_tag = item.findAll('td')
    for tag in td_tag:
        lst.append(tag.text)
print(lst)

['04/01/21', '0.02', '0.02', '0.02', '0.04', '0.06', '0.17', '0.35', '0.90', '1.37', '1.69', '2.24', '2.34', '04/02/21', '0.02', '0.02', '0.02', '0.04', '0.07', '0.19', '0.39', '0.97', '1.42', '1.72', '2.27', '2.35', '04/05/21', '0.03', '0.02', '0.03', '0.04', '0.06', '0.17', '0.37', '0.94', '1.40', '1.73', '2.28', '2.36', '04/06/21', '0.02', '0.02', '0.02', '0.04', '0.06', '0.16', '0.35', '0.88', '1.34', '1.67', '2.24', '2.32', '04/07/21', '0.01', '0.02', '0.02', '0.04', '0.06', '0.16', '0.34', '0.87', '1.34', '1.68', '2.26', '2.35', '04/08/21', '0.02', '0.02', '0.01', '0.04', '0.05', '0.14', '0.33', '0.85', '1.30', '1.64', '2.22', '2.32', '04/09/21', '0.02', '0.01', '0.02', '0.03', '0.06', '0.16', '0.35', '0.87', '1.33', '1.67', '2.23', '2.34', '04/12/21', '0.02', '0.02', '0.02', '0.04', '0.06', '0.18', '0.38', '0.89', '1.35', '1.69', '2.24', '2.34', '04/13/21', '0.03', '0.02', '0.03', '0.05', '0.06', '0.16', '0.35', '0.85', '1.29', '1.64', '2.21', '2.32', '04/14/21', '0.02', '0.02', '0.02', '0.04', '0.06', '0.16', '0.35', '0.87', '1.31', '1.64', '2.22', '2.32', '04/15/21', '0.02', '0.01', '0.02', '0.04', '0.06', '0.16', '0.32', '0.81', '1.24', '1.56', '2.13', '2.23', '04/16/21', '0.02', '0.02', '0.02', '0.04', '0.06', '0.16', '0.34', '0.84', '1.26', '1.59', '2.15', '2.26', '04/19/21', '0.01', '0.02', '0.02', '0.04', '0.08', '0.16', '0.34', '0.85', '1.28', '1.61', '2.18', '2.29']